<center><h1>Student Profile</h1></center>

<table>
    <tr>
        <td class="colC">Name:</td>
        <td class="colD"><strong><%= @student.name %></strong></td>
    </tr>
    <tr>
        <td class="colC">Card Number:</td>
        <td class="colD"><strong><%= @student.card %></strong></td>
    </tr>
    <tr>
        <td class="colC">Classes:</td>
        <td class="colD"><strong></strong></td>
    </tr>
</table>

<!-- show when student was there -->