<h1>Sign Up</h1>
<body>
  <input type="button" value="Sign in" onclick="window.location.href = '/login'">
</body>
<!-- <p class="g-signin2" data-onsuccess="window.location.href = '/login'"> <!-- I want this to be /login. the button should redirect -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="781036429987-233hfr2peanens28knfbc2ugctorr6t1.apps.googleusercontent.com">
  <body>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        //console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        var profname = profile.getName(); 
        //console.log('Given Name: ' + profile.getGivenName());
        //console.log('Family Name: ' + profile.getFamilyName());
        //console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        
        document.getElementById("demo").innerHTML = "I can display " + profname;
      }
    </script>
      
  </body>
</p>-->

<!-- could add an if statement, might not need this logout button, but have destroy called in sessions_controller  -->

<p id="demo">
      <% if session[:user]
        session[:user]
      end %>

</p>

<p>
  <a href="/#" onclick="signOut();">Sign out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
      console.log('User signed out.');
      });
    }
  </script>
</p>
