<div class="page-content">

<br><br><br><br><br>
<h1>Numberzz Attendance Tracker</h1><br>
<button class="btn btn-primary" onclick="window.location.href = '/login'">Sign in with TAMU Email</button>

<br><br>
<h5 id="demo" style="color: red;">
    <strong><%= session[:alert] %></strong>
</h5>

</div>