<div class="page-content">

<br><br><br><br><br>
<h1>Numberzz Attendance Tracker</h1><br>
<input type="button" style="width:200px; height:50px;" value="Sign in" onclick="window.location.href = '/login'">

<br><br>
<h4 id="demo" style="color: white;">
    <%= 
      session[:alert]
    %>
</h4>

</div>