<h1>Sign Up</h1>

<body>
  <input type="button" value="Sign in" onclick="window.location.href = '/login'">
</body>

<!-- could add an if statement, might not need this logout button, but have destroy called in sessions_controller  -->

<p id="demo">
    <% 
      session[:email]
    %>
</p>

<% if session[:email] == "racheljee1@tamu.edu"%>
  <%= render "teachers/index"%>
<% end%>

