<div class="page-content">

<% @str = @day.classday %>
<% @date_english = Date.strptime(@str, '%m-%d-%Y') %>

<h1><%= @date_english.strftime('%B %d, %Y') %></h1>

<%= link_to 'Remove this day', course_day_path(@course, @day),
    method: :delete,
    data: { confirm: 'Are you sure you want to remove this day?' } %>

</div>