<div class="page-content">

<h1>Class Roster</h1>
<table>
  <tr>
    <th>Student Email</th>
    <th>Card Number</th>
  </tr>

  <tr>To edit a student, click the student's card number.</tr>

  <% @cards.each do |card| %>
    <tr>
      <td> Student Email </td>
      <td><%= card.code %></td>
      <td><%= link_to 'Remove', course_day_cards_path(card),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table><br>
</div>