<div class="page-content">

<p>
  <% @students.each do |student| %>
    <% if @card.email == student.email %>
      <h1>Howdy <%= student.fname %> <%= student.lname %>!</h1>
      <p>Your card number is: <%= @card.code %></p>
    <% end %>
  <% end %>
</p>

<br>

<%= link_to 'Back', :back %>
</div>