// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#pres_abs {
    text-align: center;
    float: left;
    width: 15%;
}
table#attd {
    width: 10%;
}

td.name {
    width: 10%;
}

th.dept {
    text-align: center;
    font-size: 18px;
}
td.pres {

    background-color: GreenYellow;
    font-weight: bold;
}
td.abs {

    background-color: IndianRed;
    font-weight: bold;
}

td.red {
     background-color: IndianRed;
}

td.green {
     background-color: GreenYellow;
}
