// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-content {
  text-align: center;
}

table, th, td {
  padding: 10px;
  /*border: 1px solid black;*/
  text-align: center;
}

table {
  width: 90%;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
}

td {
  max-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
td.colA {
  width: 40%;
}
td.colB {
  width: 60%;
  padding: 0% 10%;
}

textarea {
  width: 60%;
  height: 75px;
}
