// Place all the styles related to the Student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    padding: 10px;
    /*border: 1px solid black;*/
    text-align: center;
}

table {
    width: 90%;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table#pres_abs {
    text-align: center;
    float: left;
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: white;
}

th.dept {
    text-align: center;
    font-size: 18px;
    background-color: lightblue;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
td.colC {
    width: 50%;
    text-align: right;
}
td.colD {
    width: 50%;
    text-align: left;
    font-weight: bold;
}

td.pres {
    background-color: lightgreen;
    // font-weight: bold;
}
td.abs {
    background-color: lightcoral;
    // font-weight: bold;
}

/*ul#days_pres {
    background-color: lightblue;
    padding-left: -10px;
    text-align: left;
    list-style-type: none;
}*/

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cccccc;
}
 
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cccccc; opacity: 1;
}
 
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cccccc; opacity: 1;
}
 
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cccccc;
}